.details {
  position: relative;
}

.details_btn_back {
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  color: red;
  font-weight: 600;
  padding: 10px;
  background-color: lightyellow;
}

h2 {
  font-size: 24px;
  margin: 30px 10px 30px;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: aliceblue;
  font-size: 16px;
}


.form {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.form_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__list_item {
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form_btn {
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: aquamarine;
  font-weight: 700;
  margin-right: 30px;
}