.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 13px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background: #f3f3f3;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

table td:nth-of-type(2) {
    width:8%;
}

table td:nth-of-type(5) {
    width:4%;
}


.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
    width:8%;
}

.table button {
    border: none;
    border-radius: 4px 4px 4px 4px;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 1px;
    cursor: pointer;
}

.table button:first-child {
    background-color: deepskyblue;
}

.table button:last-child {
    background-color: #f44336;
    margin-left: 8%;
}

.table img {
    width: 12px;
    height: 12px;
}